<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a ui-sref="home" class="navbar-brand"><span class="glyphicon glyphicon-cloud myIcon" aria-hidden="true"></span>MIST</a>
        </div>
        <ul class="nav navbar-nav navbar-left navItems">
        </ul>
        <ul class="nav navbar-nav navbar-right navItems">
            <li><a ui-sref="home"><span class="glyphicon glyphicon-pawn myIcon" aria-hidden="true"></span>Games</a> </li>
            <li><a ui-sref="store"><span class="glyphicon glyphicon-shopping-cart myIcon" aria-hidden="true"></span>Store</a>                </li>
            <li class="dropdown">
                <a class="dropdown-toggle settings" data-toggle="dropdown"><span class="glyphicon glyphicon-user myIcon" aria-hidden="true"></span>{{ validatedUser.userName }} <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <div class="avatarBackground">
                        <img src="{{ validatedUser.profilePic }}" class="dropdown-header">
                    </div>
                    <li><a ui-sref="editUsers({id: {{ validatedUser.id }} })">Edit Profile</a></li>
                    <li><a ui-sref="home">Add Funds</a></li>
                </ul>
                <li><a ui-sref="users"><span class="glyphicon glyphicon-off myIcon" aria-hidden="true"></span>Sign Out</a> </li>
            </li>
        </ul>
    </div>
</nav>

<div class="gameDisplay">
    <div class="">
        <h1 class="title text-center">Your Shopping Cart</h1>
        <div ng-repeat="game in games" ng-show="game.addToCart">
            <div class="view-cart col-md-12">
                <h1 class="text-center white cartHeader">{{ game.gameName }}</h1>
                <img class="text-center cartImage col-md-2" src="{{ game.gameImage }}">
                <p class="cartDescription col-md-7"><strong>Description: </strong>{{ game.gameDescription }}</p>
                <h2 class="col-md-2 white">{{ game.gameCost }}</h2>
                <button ng-click="removeFromCart(game)" class="btn btn-danger col-md-1 cartRemove"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span> Remove</button>
                <div>
                </div>

            </div>
        </div>

        <button ng-click="buyGames()" class="btn btn-primary col-md-1 cartButton">Buy Cart</button>